#wrapper{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
img{
      width: 10%;
      height: 30%;
    /*  display: block;*/
      float: left;
  }
h1{
    font-family: Verdana;
    font-style: italic;
    font-size: 271%;
    color:hotpink;
    background-color:steelblue;
    text-align:center;
  }

body{
  margin: 0;
}
/*#header {
    background-color:steelblue;
    color:hotpink;
    text-align:center;
    padding:5px;
    height: 100px;
}*/
#nav ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

#nav li {
  display: inline-block;
    float: left;
  }

li a {
   
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: red;
  }
#body {
  height: 500px;
}
#section1{
  height: 500px;
}
#section{

  height: 600px;
}
#message{
 font-size:15px;
color: red;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;    
}