
#header {
    background-color: steelblue;
    color: hotpink;
    text-align: center;
    padding:5px;
    height: 100px;
}

#section1{
  height: 500px;
}
#results{
	height: 500px;
}

#footer {
    background-color:steelblue;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;    
}