    body {
        margin: 0;
        padding: 0;
    }
    
    .font_bold {
        font-family: 'Asap', sans-serif;
        font-weight: bold;
    }
    
    .font_reg {
        font-family: 'Asap-Regular', sans-serif;
    }
    
    .font_size_head {
        font-size: 34pt;
    }
    
    .font_size_content {
        font-size: 18pt;
    }
    
    .font_ban {
        font-size: 24pt;
    }
    
    #container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    #site_header {
        margin: 0 auto;
        position: fixed;
        height: 60px;
        width: 100%;
        background-color: #ffffff;
        top: 0;
    }
    
    .nav {
        margin-left: -36px;
    }
    
    .nav ul {
        list-style-type: none;
    }
    
    .nav li {
        display: inline-block;
        /*    float: left;*/
    }
    
    li a {
        color: #333333;
        font-size: 18pt;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .about {
        color: #999999;
    }
    
    .logo {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: -40px;
    }
    
    .logo img {
         cursor: pointer;
    }
    
    .social {
        position: absolute;
        right: 2px;
        display: inline-block;
        width: 20%;
        top: 15px;
        cursor: pointer;
    }
    
    .social img {
        margin-left: 5%;
    }
    
    #signup_banner {
        height: 100%;
        max-width: 100%;
        margin: 72px auto;
        background-image: url('images/bg1_repeat.png');
        margin-bottom: 0;
    }
    
    .signup_head {
        margin: 0px auto;
        padding: 1px;
        text-align: center;
        font-size: 48pt;
        color: #FFF;
        max-width: 80%;
    }
    
    .signup_content {
        margin: 0px auto;
        padding: 2px;
        text-align: center;
        font-size: 24pt;
        color: #ffffff;
        max-width: 67%;
        box-sizing: border-box;
    }
    
    .form {
        margin: 0 auto;
        text-align: center;
        font-size: 16.3pt;
        overflow: auto;
        margin: 0 auto;
        max-width: 350px;
    }
    
    .email {
        border-radius: 35px 0px 0px 35px;
        float: left;
        padding: 2px;
        width: 230px;
        height: 33px;
        text-align: center;
        background-color: #EE8277;
        border: 0;
        color: #ffffff;
    }
    
    .submit_button {
        border-radius: 0px 35px 35px 0px;
        background-color: #2ECC71;
        padding: 2px;
        width: 50px;
        height: 37px;
        font-size: 13.3pt;
        border: 0px;
        float: left;
        color: #ffffff;
    }
    
    .signup_coming {
        margin: 0px auto;
        padding: 2px;
        text-align: center;
        font-size: 16pt;
        color: #ffffff;
        width: 33%;
        box-sizing: border-box;
    }
    
    .content_head {
        max-width: 100%;
        margin: 0px auto;
        color: #333333;
        text-align: center;
    }
    
    .content {
        margin: 0 auto;
        color: #999999;
        text-align: center;
        max-width: 50%;
    }
    
    .content_img {
        text-align: center;
        max-width: 100%;
    }
    
    .content_img img {
        width: 81%;
    }
    
    .updates {
        margin: 0px auto;
        padding: 40px;
        max-width: 100%;
        overflow: auto;
        box-sizing: border-box;
    }
    
    .updates_img {
        margin: 0 auto;
        float: left;
        width: 48%;
        display: inline-block;
    }
    
    .updates_img img {
        width: 80%;
    }
    
    .update_head {
        color: #333333;
        margin: 0 auto;
    }
    
    .updates_divider {
        margin: 0 auto;
        width: 4%;
        display: inline-block;
    }
    
    .update_section {
        margin: 0 auto;
        width: 48%;
        float: right;
        display: inline-block;
    }
    
    .updates_desc {
        color: #999999;
    }
    
    .notification {
        margin: 0px auto;
        padding: 40px;
        max-width: 100%;
        overflow: auto;
        box-sizing: border-box;
    }
    
    .notification_img {
        width: 48%;
        margin: 0 auto;
        float: right;
    }
    
    .notification_img img {
        width: 81%;
    }
    
    .notification_section {
        margin: 0 auto;
        width: 48%;
        float: left;
    }
    
    .notification_head {
        color: #333333;
    }
    
    .notification_desc {
        color: #999999;
    }
    
    #bottom_banner {
        height: 100%;
        max-width: 100%;
        margin: 0px auto;
        background-image: url('images/bg2.png');
    }
    
    #black_banner {
        background-color: #333333;
        max-width: 100%;
        margin: 0px auto;
        overflow: auto;
    }
    
    .banner_img {
        margin: 0px auto;
        max-width: 675px;
    }
    
    .banner_img img {
        float: left;
        margin-top: 21px;
        width: 160px;
    }
    
    .banner_img span {
        color: #FFF;
        font-size: 31pt;
        float: left;
        margin-left: -27px;
        margin-top: 72px;
    }
    
    #site_footer {
        margin: 0 auto;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        box-sizing: border-box;
        height: 25px;
    }
    
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        .head_font {
            font-size: 40pt;
        }
        .font_si {
            font-size: 22pt;
        }
        .font_size_head {
            font-size: 24pt;
        }
        .font_size_content {
            font-size: 15pt;
        }
        .content_img img {
            width: 100%;
        }
        .updates_img {
            max-width: 100%;
        }
        .updates_img img {
            width: 100%;
        }
        .notification_img {
            max-width: 100%;
        }
        .notification_img img {
            width: 100%;
        }
        .banner_img img {
            margin-left: 70px;
        }
        .banner_img span {
            font-size: 27pt;
            margin-top: 75px;
            margin-left: -23px;
        }
    }
    
    @media screen and (max-width: 720px) {
        .li a {
            padding: 2px;
        }
        .head_font {
            font-size: 28pt;
        }
        .font_si {
            font-size: 14pt;
        }
        .form {
            max-width: 200px;
        }
        .email {
            width: 153px;
            height: 28px;
            font-size: 12.3pt;
        }
        .submit_button {
            width: 37px;
            height: 32px;
            font-size: 11.3pt;
        }
        .signup_coming {
            font-size: 12px;
        }
        .font_size_head {
            font-size: 19pt;
        }
        .content_img img {
            width: 100%;
        }
        .updates_img {
            max-width: 80%
        }
        .updates_divider {
            width: 0;
        }
        .updates_img img {
            width: 100%;
        }
        .update_section {
            max-width: 100%;
        }
        .font_size_content {
            font-size: 12pt;
        }
        .notification_img {
            max-width: 80%
        }
        .notification_divider {
            width: 0;
        }
        .notification_img img {
            width: 100%;
        }
        .notification_section {
            max-width: 100%;
        }
        .banner_img img {
            margin-top: 21px;
            width: 134px;
            margin-left: 44px;
        }
        .banner_img span {
            font-size: 23pt;
            margin-top: 67px;
            margin-left: -23px;
        }
    }
    
    @media screen and (max-width: 480px) {
        .nav {
            overflow: auto;
            width: 100%;
            margin-left: -11px;
        }     
        .nav ul {
            max-width: 100%;
        }
        .nav li {
            display: inline-block;
            margin-left: -20px;
        }
        .home {
            float: left;
        }
        .about {
            float: right;
            margin-right: 10px;
        }
        .nav li a {
            font-size: 13pt;
            padding: 0;
        }
        .logo {
            margin-top: -19px;
        }
        .logo img{
            width: 32%;
        }
        .social {
            display: none;
        }
        .updates_img {
            max-width: 100%;
            width: 100%;
        }
        .update_section {
            max-width: 100%;
            width: 100%;
            margin-top: 5px;
        }
        .font_size_content {
            font-size: 9pt;
        }
        .notification_img {
            width: 100%;
        }
        .notification img {
            width: 100%;
            float: left;
        }
        .notification_section {
            width: 100%;
        }
        .banner_img img {
            width: 96px;
        }
        .banner_img span {
            font-size: 15pt;
            margin-top: 54px;
            margin-left: -20px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .banner_img img {
            margin-left: 0;
        }
        .banner_img span {
            font-size: 13pt;
        }
    }